<script>
  // Imports
  import { area } from "d3-shape";
  import { scaleLinear, scaleTime } from "d3-scale";
  import { extent } from "d3-array";

  export let selectedData = [];
  export let type = null;
  export let scaling = 1;

  // Data Selection
  function selectData(type, data) {
    return data.filter((el) => el.buildingtype == type);
  }

  let data = selectData(type, selectedData);
  $: data = selectData(type, selectedData);

  // Scales

  // Across all building types
  const scaleAcross = scaleLinear()
    .domain(extent(data.map((el) => el.total_heating_energy)))
    .range([0.5, 12]);

  // Within building types
  const scaleWithin = scaleLinear()
    .domain(extent(selectedData.map((el) => el.total_heating_energy)))
    .range([0.5, 15]);

  // xScale

  const xScale = scaleTime()
    .domain(
      extent(selectedData.map((el) => new Date(2014, 11, el.day, el.hour)))
    )
    .range([0, 450]);

  // Line
  const violinAcross = area()
    .x((el) => xScale(new Date(2014, 11, el.day, el.hour)))
    .y0((el) => -scaleAcross(el.total_heating_energy))
    .y1((el) => scaleAcross(el.total_heating_energy));

  const viloinWithin = area()
    .x((el) => xScale(new Date(2014, 11, el.day, el.hour)))
    .y0((el) => -scaleWithin(el.total_heating_energy))
    .y1((el) => scaleWithin(el.total_heating_energy));
</script>

<g height="250">
  <g transform="translate(+300,0)" dominant-baseline="central">
    <text>{type}</text>
  </g>
  <g transform="translate(-150,0)">
    {#if scaling == 0}
      <path d={violinAcross(data)} fill="black" />
    {:else}
      <path d={viloinWithin(data)} fill="black" />
    {/if}
  </g>
</g>
