<script>
  import { radialArea } from "d3-shape";
  import { scaleLinear, scaleRadial } from "d3-scale";
  import { extent } from "d3-array";

  // Variables
  export let data = [];
  export let city;
  let maxRadius = 65;
  let whitespace = 7;

  const width = 700;
  const height = 250;
  const margin = { top: 15, right: 15, bottom: 15, left: 15 };

  // Filter by city
  data = data.filter((el) => el.city == city);

  // Scales
  const xScale = scaleLinear()
    .range([0, 2 * Math.PI])
    .domain(extent(data, (el) => el.day_of_year));

  const scaleHeating = scaleRadial()
    .range([0, maxRadius])
    .domain(extent(data, (el) => el.heating));

  const scaleCooling = scaleRadial()
    .range([0, maxRadius])
    .domain(extent(data, (el) => el.cooling));

  // Areas
  const areaCooling = radialArea()
    .angle((el) => xScale(el.day_of_year))
    .innerRadius(5)
    .outerRadius((el) => scaleCooling(el.cooling));

  const areaHeating = radialArea()
    .angle((el) => xScale(el.day_of_year))
    .innerRadius(0)
    .outerRadius((el) => scaleHeating(el.heating));
</script>

<svg
  viewBox="0 0 {width / 3} {height}"
  style="max-width:{width / 3}px"
  xmlns="http://www.w3.org/2000/svg"
>
  <g transform="translate({margin.left}, {margin.top})">
    <g transform="translate(0,20)">
      <text class="title" x="50%" text-anchor="middle">{city} </text>
    </g>
    <g transform="translate({width / 6},125)">
      <circle
        cx="0"
        cy="0"
        r={maxRadius + whitespace}
        fill="#66000000"
        fill-opacity="1"
        stroke="black"
        stroke-width="2"
      />
      <line
        y1={-(maxRadius + whitespace)}
        y2={maxRadius + whitespace}
        stroke="black"
        stroke-width="2"
      />
      <line
        x1={-(maxRadius + whitespace)}
        x2={maxRadius + whitespace}
        stroke="black"
        stroke-width="2"
      />
      <path
        d={areaCooling(data)}
        fill="none"
        stroke="blue"
        fill-opacity="0.5"
        stroke-opacity="1"
      />
      <path
        d={areaHeating(data)}
        fill="none"
        stroke="red"
        fill-opacity="0.5"
        stroke-opacity="1"
      />

      <text
        class="legend"
        transform="translate(0,{-(maxRadius + whitespace + 5)})">0</text
      >
      <text
        class="legend"
        transform="translate({maxRadius + whitespace + 10},3)">3</text
      >
      <text
        class="legend"
        transform="translate(0,{maxRadius + whitespace + 15})">6</text
      >
      <text
        class="legend"
        transform="translate({-(maxRadius + whitespace + 10)},3)">9</text
      >
    </g>
  </g>
</svg>

<style>
  .title {
    font-family: "Merienda";
    font-size: 22px;
  }
  text.legend {
    text-anchor: middle;
    font: 15px;
  }
</style>
