<script>
  export let selectedCity = "Baltimore";
  export let scaling = 1;

  let cities = ["Baltimore", "Chicago", "Los Angeles"];
</script>

<div class="row">
  <div class="row bottomBorder">
    {#each cities as city}
      <label class="container">
        <input type="radio" bind:group={selectedCity} value={city} />
        <span class="checkmark" />
        {city}
      </label>
      <br />
    {/each}
  </div>
  <br />
  <div class="row bottomBorder">
    <label class="container">
      <input type="radio" bind:group={scaling} value={1} />
      <span class="checkmark" />
      Within building types
    </label>
    <br />
    <label class="container">
      <input type="radio" bind:group={scaling} value={0} />
      <span class="checkmark" />
      Across all building types
    </label>
  </div>
</div>

<style>
  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;

    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 15%;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: black;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    border-radius: 50%;
    background: white;
  }
  .bottomBorder {
    border-bottom-style: dashed;
  }
</style>
