<script>
  // imports
  import { area } from "d3-shape";
  import { scaleLinear, scaleTime } from "d3-scale";
  import { extent, max } from "d3-array";

  // Variables
  export let data = [];

  const dates = data.map((el) => new Date(2014, 11, el.day, el.hour));
  const gas = data.map((el) => el.total_gas);
  const electricity = data.map((el) => el.total_electrity);
  const leafWidth = data.length * 1.3;
  const leafHeight = 100;

  // Scales
  const xScale = scaleTime().domain(extent(dates)).range([0, leafWidth]);

  const scaleElectricity = scaleLinear()
    .domain([0, max(electricity)])
    .range([leafHeight / 2, 0]);

  const scaleGas = scaleLinear()
    .domain([0, max(gas)])
    .range([leafHeight / 2, leafHeight]);

  // Area based on the data
  const areaElectricity = area()
    .x((el) => xScale(new Date(2014, 11, el.day, el.hour)))
    .y0(scaleElectricity(0))
    .y1((el) => scaleElectricity(el.total_electrity));

  const areaGas = area()
    .x((el) => xScale(new Date(2014, 11, el.day, el.hour)))
    .y0(scaleGas(0))
    .y1((el) => scaleGas(el.total_gas));
</script>

<svg>
  <!-- Electricity -->
  <path d={areaElectricity(data)} fill="blue" />
  <!-- Gas -->
  <path d={areaGas(data)} fill="orange" />
  <!-- Stem -->
  <line
    x1="0"
    y1={leafHeight / 2}
    x2={leafWidth}
    y2={leafHeight / 2}
    style="stroke:black;stroke-width:2"
  />
</svg>
