<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Leaf from "./_design_3_leaf.svelte";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

  const leftStem = innerWidth / 2 - margin.left + 10;
  const rightStem = innerWidth / 2 + margin.left - 10;
</script>

{#if !data}
  <p>Loading data</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <!-- week1  -->
      <g transform="translate({leftStem},350)">
        <Leaf data={data.filter((el) => el.week == 48)} />
      </g>
      <!-- week2 -->
      <g transform="translate({rightStem},275) scale(-1,1)">
        <Leaf data={data.filter((el) => el.week == 49)} />
      </g>
      <!-- week3 -->
      <g transform="translate({leftStem},200)">
        <Leaf data={data.filter((el) => el.week == 50)} />
      </g>
      <!-- week4 -->
      <g transform="translate({rightStem},125) scale(-1,1)">
        <Leaf data={data.filter((el) => el.week == 51)} />
      </g>
      <!-- week5 -->
      <g transform="translate({leftStem},50)">
        <Leaf data={data.filter((el) => el.week == 52)} />
      </g>

      <!-- Leaf stem -->
      <line
        x1={width / 2 - margin.left}
        x2={width / 2 - margin.left}
        y1="90"
        y2={height - 125}
        style="stroke:black;stroke-width:2"
      />

      <!-- svelte-ignore component-name-lowercase -->
      <text
        transform="translate({innerWidth / 2 - 130},{innerHeight - 50})"
        class="cityTitle"
      >
        Baltimore
      </text>
      <!-- svelte-ignore component-name-lowercase -->
      <text
        transform="translate({innerWidth / 2 - 90},{innerHeight - 25})"
        class="date"
      >
        (December 2014)
      </text>
    </g>
  </svg>
{/if}

<style>
  .cityTitle {
    font: bold italic 40px serif;
  }
  .date {
    font: bold italic 20px serif;
  }
</style>
