<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import RadioButton from "./_design_1_radiobutton.svelte";
  import Line from "./_design_1_line.svelte";

  // Size and margins
  const width = 700;
  const height = 420;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };

  // Load the data
  let energyData = null;
  let buildingtypes = null;
  let selectedData = null;
  let selectedCity = "Baltimore";
  let scaling = 1;

  onMount(async () => {
    energyData = await json("/data/hourly_heating_december.json");
    buildingtypes = [...new Set(energyData.map((el) => el.buildingtype))];
  });

  function filterData(dataset, selCity) {
    if (dataset != null) {
      selectedData = dataset.filter((el) => el.city == selCity);
    }
  }

  $: filterData(energyData, selectedCity);
</script>

{#if !energyData}
  <p>Loading data</p>
{:else}
  <div>
    <div class="center">
      <div class="center">
        <RadioButton bind:selectedCity bind:scaling />
      </div>
    </div>
    <div class="center">
      <div class="center">
        <svg {width} {height}>
          <g transform="translate({margin.left}, {margin.top})">
            {#each buildingtypes as type, ix}
              <g transform="translate(100,{ix * 25})">
                <Line {selectedData} {scaling} {type} />
              </g>
            {/each}
          </g>
        </svg>
      </div>
    </div>
  </div>
{/if}

<style>
  .center {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
</style>
