<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import CityPlot from "./_design_2_plot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });
</script>

{#if !data}
  <p>Loading data</p>
{:else}
  <CityPlot {data} city="Chicago"/>
  <CityPlot {data} city="Baltimore"/>
  <CityPlot {data} city="Los Angeles"/>
{/if}
