<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button
  class:btnSelected={current == "messi"}
  class="btn btn-secondary"
  on:click={() => (current = "messi")}
>
  Messi
</button>

<button
  class:btnSelected={current == "ronaldo"}
  class="btn btn-secondary"
  on:click={() => (current = "ronaldo")}
>
  Ronaldo
</button>

<button
  class:btnSelected={current == "neymar"}
  class="btn btn-secondary"
  on:click={() => (current = "neymar")}
>
  Neymar
</button>

<style>
  .btnSelected {
    background-color: rgb(13, 29, 13);
  }
</style>
