<script>
  const name = "Juan Jose";
  const myList = ["watching movies", "workout", "play football"];
  const myself = { name, myList };
</script>

<div>
  <p>My name is {myself.name} and these are some of my favourite things:</p>
  <ol>
    <li>{myself.myList[0]}</li>
    <li>{myself.myList[1]}</li>
    <li>{myself.myList[2]}</li>
  </ol>
</div>
