<script>
  // Properties
  export let year = 0;
  export let continent = "all";

  const continents = ["all", "europe", "asia", "americas", "africa"];

  let running = false;

  let interval = null;

  function ResetYear() {
    year = 0;
    running = false;
    clearInterval(interval);
  }

  function StartTheShow() {
    running = !running;
    if (running) {
      interval = setInterval(() => {
        year += 1;
        if (year === 214) year = 0;
      }, 40);
    } else {
      clearInterval(interval);
    }
  }
</script>

<div class="row">
  <div class="col-4">
    <button on:click={StartTheShow} type="button" class="btn btn-primary">
      {running ? "Stop" : "Start"}
    </button>
    <button on:click={ResetYear} type="button" class="btn btn-primary">
      Reset
    </button>
  </div>
  <div class="col-5">
    Year: {1800 + year}
    <input
      type="range"
      class="form-range"
      min="0"
      max="214"
      step="1"
      bind:value={year}
    />
  </div>
  <div class="col-3">
    <select id="continent-select" class="form-select" bind:value={continent}>
      {#each continents as cont}
        <option value={cont}>{cont}</option>
      {/each}
    </select>
  </div>
</div>
