<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  let yearBind = 0;
  let continentBind = "all";

  function filterContinent(data, cont) {
    if (cont === "all") {
      return data;
    } else {
      return data.filter((el) => el.continent === cont);
    }
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot
      data={filterContinent(data[yearBind]["countries"], continentBind)}
    />
    <Controls bind:year={yearBind} bind:continent={continentBind} />
  </div>
{/if}
