<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };


  // Data selection
  let leftPoints = [];
  let rightPoints = [];
  let globalPoints = [];

  function displayData(data) {
    if (data != null) {
      for (let i = 0; i < data.length; i++) {
        globalPoints.push(true);
      }
    }
  }

  function selectData(left, right) {
    for (let i = 0; i < left.length; i++) {
      if (left[i] == right[i] && left[i] == true) {
        globalPoints[i] = true;
      } else {
        globalPoints[i] = false;
      }
    }
  }

  $: displayData(data);
  $: selectData(leftPoints, rightPoints);
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter
    {data}
    {...s1}
    bind:pointsEach={leftPoints}
    pointsBoth={globalPoints}
  />
  <Scatter
    {data}
    {...s2}
    bind:pointsEach={rightPoints}
    pointsBoth={globalPoints}
  />
{/if}
