<script>
  import { onMount } from "svelte";
  import { scaleLinear, scaleLog, scaleOrdinal } from "d3-scale";
  import { select } from "d3-selection";
  import { axisBottom, axisLeft } from "d3-axis";
  import { extent } from "d3-array";
  import { schemeTableau10 } from "d3";

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 25, right: 5, bottom: 55, left: 25 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let isLoading = true;

  let dataset = [];
  let colorScale = scaleOrdinal();
  onMount(async () => {
    const response = await fetch("./../../../../../static/data/gapminder.json");

    dataset = await response.json();

    dataset = dataset[0].countries;

    colorScale = scaleOrdinal()
      .domain(extent(dataset.map((el) => el.continent)))
      .range(schemeTableau10);

    isLoading = false;
  });

  const scaleX = scaleLog()
    .domain([200, 30000])
    .range([margin.top, innerWidth]);
  const scaleY = scaleLinear().domain([90, 0]).range([margin.top, innerHeight]);

  function xAxis(handle) {
    axisBottom(scaleX)(select(handle));
  }
  function yAxis(handle) {
    axisLeft(scaleY)(select(handle));
  }

  function text(handle) {
    select(handle)
      .append("text")
      .attr("x", innerWidth / 3)
      .attr("y", height / 3)
      .attr("font-size", "1.25em")
      .text("GDP per Capita");
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#if isLoading}
      <p>The data is loading</p>
    {:else}
      <text x={innerWidth / 4} y={margin.top} font-size="2.25em"
        >Gapminder Scatterplot</text
      >
      {#each dataset as el}
        {#if el.income != null && el.life_exp != null}
          <circle
            cx={scaleX(+el.income)}
            cy={scaleY(+el.life_exp)}
            r="5"
            fill={colorScale(el.continent)}
          />
        {/if}
      {/each}
    {/if}

    <g transform="translate({margin.left},{innerHeight})" use:xAxis={"svg"} />
    <g transform="translate(-30,230)" use:text={"svg"} />
    <g transform="translate({margin.left},0)" use:yAxis={"svg"} />
    <text transform={`translate(${-10},${innerHeight * 0.7}) rotate(-90)`}
      >Life Expectancy</text
    >

    <text x={innerWidth - margin.left*4} y={innerHeight-10} opacity=.4 font-size=2.25em>1800</text>

  </g>
</svg>
