<script>
  import { scaleLog } from "d3-scale";
  import { select } from "d3-selection";
  import { axisBottom } from "d3-axis";

  // Dimensions
  const width = 1000;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  const scale = scaleLog().domain([1, 10]).range([0, innerWidth]);

  function xAxis(handle) {
    axisBottom(scale)(select(handle));
  }
  
  function text(handle) {
    select(handle)
      .append("text")
      .attr("x", innerWidth / 2)
      .attr("y", height / 4)
      .attr("font-size", 12)
      .text("x-axis");
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <g transform="translate(0,65)" use:xAxis={"svg"} />
    <g transform="translate(0,65)" use:text={"svg"} />
    <svg {width} {height}>
      {#each values as value}
        <circle cx={scale(value)} cy="50%" r="10" style="fill:green" />
      {/each}
    </svg></g
  >
</svg>
