<script>
  //Importing...
  import { scaleOrdinal } from "d3-scale";
  import { extent } from "d3-array";
  import { scaleLinear } from "d3-scale";
  import { schemeSet1 } from "d3";

  // Dimensions
  const width = 1000;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const xScale = scaleLinear().domain([0, 10]).range([0, innerWidth]);
  const yScale = scaleLinear().domain([4, 0]).range([0, innerHeight]);

  const colorScale = scaleOrdinal()
    .domain(extent(values.map((el) => el.category)))
    .range(schemeSet1);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle
        cx={xScale(value.x)}
        cy={yScale(value.y)}
        r="5"
        fill={colorScale(value.category)}
      />
      <text y={yScale(value.y) - 10} x={xScale(value.x)}
        >{value.y}
      </text>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: medium;
  }
</style>
