<script>
  import { scaleLinear, scalePoint } from "d3-scale";
  import { select } from "d3-selection";
  import { axisBottom, axisLeft } from "d3-axis";

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const scaleX = scalePoint().domain(data.map(el => el.service)).range([50,innerWidth- 80]);
  const scaleY = scaleLinear().domain([3, 0]).range([margin.top, innerHeight]);

  function xAxis(handle) {
    axisBottom(scaleX)(select(handle));
  }
  function yAxis(handle) {
    axisLeft(scaleY)(select(handle));
  }

  
  
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left},{innerHeight})" use:xAxis={"svg"} />
  <g transform="translate({margin.left},0)" use:yAxis={"svg"} />
  <text transform={`translate(${margin.right*3},${innerHeight * 0.7}) rotate(-90)`}
  font-size=12>Viewers (Million) </text
>
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as el}
        <rect x={scaleX(el.service) - 30} y={scaleY(el.viewers) - 10} width=60 height={innerHeight-scaleY(el.viewers)} style="fill:steelblue"/>
      {/each}
  </g>
</svg>
